.accordionContent {
  will-change: height;

  &[data-state='open'] {
    animation: accordionDown 0.3s ease forwards;
  }

  &[data-state='closed'] {
    animation: accordionUp 0.3s ease forwards;
  }
}

@keyframes accordionDown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordionUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}
