.searchInput {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-background-primary);
  position: relative;

  .searchInputField {
    border: transparent;
    display: flex;
    align-items: center;
    &::-webkit-search-cancel-button {
      appearance: none;
      -webkit-appearance: none;
    }
  }
}

.searchIcon {
  color: var(--color-icon-primary);
  width: 24px;
  height: 24px;
}

.searchCloseBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
}
