.productFilter {
  width: 100%;

  .inStockCheckbox {
    .label {
      text-transform: uppercase;
    }
  }

  .productFilterSelectWrapper {
    width: 100%;
    border-bottom: 1px solid #111;
  }
  .productFilterSelect {
    width: 100%;
    padding: 14px 13px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
  }

  .productFilterSelectIcon {
    right: 14px;
    width: 10px;
    height: 13px;
    color: var(--color-icon-primary);
  }

  .resetBtn {
    width: 100%;
  }
}
.productFilterForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.filterFields {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.selectTrigger {
  font-size: 16px;
  line-height: 20px;
  padding: 6px 8px;
}

.homeFilterContent {
  padding: 40px 20px;
}

.manufacturerFilter {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;

  .manufacturerFilterLabel {
    text-transform: uppercase;
    padding: 12px 14px;
    border: 1px solid var(--color-background-tertiary);
  }

  .manufacturerFilterFields {
    padding: 8px 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .manufacturerFilterButton {
    width: fit-content;
    padding: 0 14px;
  }
}
