.footer {
  background-color: var(--color-background-tertiary);
  color: var(--color-text-secondary);

  .footerTop {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: $tablet) {
      padding: 0;
      gap: 0;
    }
  }

  .footerNavBar {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footerNavBarLink {
    width: fit-content;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.01em;
    @media (max-width: $tablet) {
      line-height: 20px;
      letter-spacing: -0.07px;
    }
  }

  .footerBottom {
    padding: 16px 0;

    .wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 8px;
      justify-content: space-between;

      @media (max-width: $tablet) {
        flex-direction: column-reverse;
        gap: 0;
        padding: 16px 0;
      }
    }

    .copyright,
    .footerLegalLink {
      font-size: 12px;
      line-height: 16px;

      @media (max-width: $mobile) {
        font-size: 10px;
        line-height: 12px;
      }
    }

    .copyright {
      @media (max-width: $tablet) {
        text-align: center;
      }
    }

    .footerLegalDesktop {
      display: flex;
      gap: clamp(10px, calc(3.35vw - 24.36px), 40px);

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .footerLegalMobile {
      display: none;

      @media (max-width: $tablet) {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 16px 0;
      }
    }
  }
  .footerSocials {
    align-items: center;
    gap: 20px;
    @media (max-width: $tablet) {
      gap: 16px;
      padding: 16px 0;
    }
  }

  .footerSocialIcon {
    @media (max-width: $tablet) {
      width: 40px;
      height: 40px;
    }
  }

  .columnTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 12px;
    @media (max-width: $tablet) {
      font-weight: 600;
      letter-spacing: -0.07px;
      margin-bottom: 4px;
    }
  }
}

.footerDesktopColumns {
  display: grid;
  grid-template-columns:
    minmax(100px, 108px)
    minmax(130px, 150px)
    minmax(180px, 200px)
    minmax(180px, 200px);

  column-gap: clamp(32px, 5vw, 71px);

  @media (max-width: $tablet) {
    display: none;
  }
}

.footerMobile {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  li {
    list-style-type: none;
  }

  .column {
    padding: 16px 0;
    border-top: 1px solid var(--color-border-secondary-muted);
  }
}
