.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.primary {
  color: var(--color-text-secondary);
  background-color: var(--color-button-primary);
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;

  &:not(:disabled):hover {
    background-color: var(--color-button-primary-hover);
  }

  &:disabled {
    background-color: var(--color-button-primary-disabled);
    cursor: default;
  }
}

.secondary {
  color: var(--color-button-secondary-text);
  background-color: var(--color-button-secondary);
  border: 2px solid var(--color-button-secondary-border);
  text-transform: uppercase;
  transition:
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  &:not(:disabled):hover {
    background-color: var(--color-button-secondary-hover);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.dark {
  color: var(--color-text-secondary);
  background-color: var(--color-button-dark);
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;

  &:not(:disabled):hover {
    background-color: var(--color-button-dark-hover);
  }

  &:disabled {
    background-color: var(--color-button-dark-disabled);
    cursor: default;
  }
}

.unset {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
