.socials {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.75;
  }
}

.labelBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: visible;
}
