.feedbackHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
  .feedBackSort {
    width: auto;
  }
}

.feedbackRating {
  display: flex;
  gap: 16px;
  .ratingStats {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .ratingTotal {
    font-family: var(--font-onder);
    font-weight: 500;
    font-size: 16px;
  }

  .ratingCount {
    font-size: 12px;
    line-height: 16px;
  }
}

//переопределение стилей элемента-отзыва

.feedBackItems {
  .item {
    padding: 32px 0;
    border-bottom: 1px solid var(--color-border-secondary-subtle);
  }

  .itemHeader {
    justify-content: space-between;
  }
}
