.feedbackHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
  .feedBackSort {
    width: auto;

    @media (max-width: $mobile) {
      width: fit-content;
      align-self: flex-end;
      margin: 60px 0 16px;
    }
  }
}

.feedbackRating {
  display: flex;
  gap: 16px;
  .ratingStats {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .ratingTotal {
    font-family: var(--font-unbounded);
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  .ratingCount {
    font-size: 12px;
    line-height: 16px;
  }
}

//переопределение стилей элемента-отзыва

.feedBackItems {
  .item {
    padding: 32px 0;
    border-bottom: 1px solid var(--color-border-secondary-subtle);
  }

  .itemHeader {
    justify-content: space-between;
  }
}
