.headerMobile {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    padding: 16px 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: $mobile) {
      gap: 8px;
    }
  }

  .btn {
    width: 24px;
    height: 24px;
    color: var(--color-icon-secondary);
    flex-shrink: 0;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}

.menuContent {
  width: 100%;
  padding: 32px;

  @media (max-width: $mobile) {
    padding: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menuIcon {
    transform: rotate(270deg);
    width: 14px;
    height: 8px;
  }

  .menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    padding: 24px 0;
    border-bottom: 1px solid var(--color-border-primary);

    @media (max-width: $mobile) {
      font-size: 12px;
      line-height: 16px;
      padding: 20px 0;
    }
  }
}
