.banner {
  --banner-height: clamp(500px, 65vh, 727px);
  min-height: var(--banner-height);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerWrapper {
  min-height: var(--banner-height);
  display: flex;
  position: relative;
}

.bannerContent {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  max-width: 673px;

  @media (max-width: $mobile) {
    max-width: 100%;
  }
}

.bannerTitle {
  font-family: var(--font-unbounded);
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 8px;
}

.bannerDescription {
  color: var(--color-text-secondary-muted);
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  @media (max-width: $mobile) {
    display: block;
  }
}

.bannerLinksSingle {
  width: 413px;
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.bannerLinksMultiple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
}

.bannerBreadcrumbs {
  position: absolute;
  top: 20px;
}

.bannerImage {
  position: absolute;
}
