.sForm {
  .sFormInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .sFormInput {
    padding: 12px 16px;
    border: 1px solid var(--color-border-primary);
    appearance: none;
    -webkit-appearance: none;
  }

  //   .sFormComment {
  //     height: 130px;
  //   }

  .sFormBtn {
    min-width: 210px;
  }
}

.sFormSubtitle {
  margin-bottom: 40px;
}
.sFormFields {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sFormCheckboxWrapper {
  margin-bottom: 40px;
}
