.brandIntro {
  padding: 80px 0 0;
}
.brandIntroWrapper {
  padding: 40px 0;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(320px, 430px) 1fr;
  gap: clamp(30px, 3vw, 110px);
}

.brandIntroLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brandIntroSocials.brandIntroSocials {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brandIntroSocialLink.brandIntroSocialLink {
  font-size: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-border-primary);
  padding: 8px;
  width: 208px;
}

.brandIntroSocialLabel.brandIntroSocialLabel {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.brandIntroTitle {
  font-family: var(--font-unbounded);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-text-primary);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.brandIntroDescription {
  font-size: 20px;
  line-height: 1;
  .accent {
    color: var(--color-text-accent);
  }
}

.socialLink {
  display: flex;
  align-items: center;
  padding: 11px 8px;
  width: 196px;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid var(--color-border-primary);

  .socialLinkText {
    font-size: 20px;
    line-height: 1;
  }

  .socialLinkIcon {
    width: 30px;
    height: 30px;
  }
}

.introStats {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 20px;

  @media (max-width: $tablet) {
    //temporary
    display: flex;
    flex-direction: column;
  }
}

.introItem {
  padding: 16px;
  display: flex;
  gap: 16px;

  .introTitle {
    margin-bottom: 8px;
    font-family: var(--font-unbounded);
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .introDescription {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.07px;
  }

  .introIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }

  .calendarIcon {
    width: 21px;
    height: 24px;
  }

  .coinsIcon {
    width: 30px;
    height: 22px;
  }

  .wareHouseIcon {
    width: 27px;
    height: 22px;
  }

  .leafIcon {
    width: 19px;
    height: 19px;
  }
}

.brandIntroBottom {
  padding: 80px 0 0;

  .brandIntroBottomText {
    padding: 16px 32px;
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary);
    border-left: 8px solid var(--color-border-accent);
    font-family: var(--font-unbounded);
    font-weight: 500;
    font-size: 10px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .large {
    font-size: 20px;
  }
}
