.ourTeam {
  padding: 100px 0 0;

  @media (max-width: $tablet) {
    padding-top: 40px;
  }
}

.ourTeamWrapper {
  display: grid;
  grid-template-columns: minmax(520px, 693px) 1fr;
  gap: clamp(20px, 3vw, 40px);

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.ourTeamImage {
  aspect-ratio: 693/686;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: $tablet) {
    gap: 24px;
  }
}
.quoteMarks {
  display: flex;
  gap: 9px;
}

.quoteMark {
  width: clamp(17px, 2.5vw, 26px);
  height: clamp(29px, 4.2vw, 43px);
}
