.infoPageLayout {
  background-color: var(--color-background-primary);
  .layoutWrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
  }

  .layoutPagination {
    align-self: center;
    padding: 32px 0 68px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
