.selectWrapper {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.select {
  outline: none;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
