html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;

  font-family: var(--font-inter);
  font-size: 14px;
  line-height: 1.5;

  color: var(--color-text-primary);
  background-color: var(--color-background-secondary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
