:root {
  //texts
  --color-text-primary: #18181a;
  --color-text-primary-subtle: #444648;
  --color-text-primary-intense: #111213;
  --color-text-primary-muted: #6b6262;
  --color-text-primary-faint: #888888;
  --color-text-secondary: #ffffff;
  --color-text-secondary-muted: #f2f2f3;
  --color-text-tertiary: #252a38;
  --color-text-accent: #fe5000;

  //bg
  --color-background-primary: #ffffff;
  --color-background-primary-muted: #f7f7f7;
  --color-background-primary-faint: #f6f6f6;
  --color-background-secondary: #232425;
  --color-background-secondary-muted: #f2f2f3;
  --color-background-tertiary: #18181a;
  --color-background-accent: #fe5000;

  //overlay
  --color-overlay-dark: rgba(0, 0, 0, 0.6);

  //icons
  --color-icon-primary: #18181a;
  --color-icon-primary-intense: #111213;
  --color-icon-secondary: #ffffff;
  --color-icon-secondary-muted: #d9d9d9;
  --color-icon-accent: #fe5000;

  //borders
  --color-border-primary: #18181a;
  --color-border-primary-muted: #606367;
  --color-border-secondary-muted-alpha: rgba(136, 136, 136, 0.3);
  --color-border-secondary: #ffffff;
  --color-border-secondary-muted: #888888;
  --color-border-secondary-faint: #d9d9d9;
  --color-border-secondary-subtle: #a0a3a7;
  --color-border-accent: #fe5000;

  // status
  --color-status-success: #14ae5c;
  --color-status-disabled: #444444;

  // semantic
  --color-success: #1d9d3d;

  // buttons - separate logic!!!
  --color-button-primary: #fe5000;
  --color-button-primary-hover: #ff7c40;
  --color-button-primary-disabled: rgba(254, 80, 0, 0.4);

  --color-button-dark: #18181a;
  --color-button-dark-hover: #444648;
  --color-button-dark-disabled: rgba(24, 24, 26, 0.4);

  --color-button-secondary: #ffffff;
  --color-button-secondary-hover: #fff1eb;
  --color-button-secondary-border: #18181a;
  --color-button-secondary-text: #18181a;
}
