@use './viewports' as *;

.container {
  width: 100%;
  max-width: var(--viewport-desktop);
  margin: 0 auto;
  padding: 0 80px;

  @media (max-width: $tablet) {
    padding: 0 40px;
  }

  @media (max-width: $mobile) {
    padding: 0 10px;
  }
}
