.productDetailsPageLayout {
  background-color: var(--color-background-primary);
  .layoutWrapper {
    padding: 32px 0 86px;
  }
}

.header {
  margin-bottom: 32px;
}

.layoutContent {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.breadcrumbs {
  margin-bottom: 16px;
  font-size: 12px;
}

.title {
  font-family: var(--font-onder);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
}

// .body {
//   display: grid;
//   grid-template-columns: 228px minmax(0, 1fr);
//   gap: 32px;
// }

// .bodyWithoutFilters {
//   grid-template-columns: 1fr;
// }

// .filters {
//   min-width: 0;
// }

// .content {
//   min-width: 0;
//   display: flex;
//   flex-direction: column;
//   gap: 32px;
// }
