.homeAdvantages {
  padding: 80px 0;

  @media (max-width: $tablet) {
    padding-top: 60px;
  }
}

.advantages {
  display: flex;
  gap: 20px;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.advantageItem {
  display: flex;
  gap: 16px;
  padding: 16px 16px 16px 41px;
  &:not(:last-child) {
    border-right: 1px solid var(--color-border-secondary-muted);
    @media (max-width: $tablet) {
      border-right: none;
    }
  }
  @media (max-width: $tablet) {
    padding: 16px;
    background-color: var(--color-background-secondary-muted);
    min-height: 102px;
  }
}

.advantageIcon {
  color: var(--color-icon-primary);
}

.advantageContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.advantageTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.navigationIcon {
  width: 23px;
  height: 30px;
}

.warningIcon {
  width: 27px;
  height: 30px;
}

.circularArrowIcon {
  width: 25px;
  height: 30px;
}
.userHelpIcon {
  width: 30px;
  height: 27px;
}
