.homeAdvantages {
  padding: 80px 0;
}

.advantages {
  display: flex;
  gap: 20px;
}

.advantageItem {
  display: flex;
  gap: 16px;
  padding: 16px 16px 16px 41px;
  &:not(:last-child) {
    border-right: 1px solid var(--color-border-secondary-muted);
  }
}

.advantageIcon {
  color: var(--color-icon-primary);
}

.advantageContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.advantageTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.advantageDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.07px;
}

.navigationIcon {
  width: 23px;
  height: 30px;
}

.warningIcon {
  width: 27px;
  height: 30px;
}

.circularArrowIcon {
  width: 25px;
  height: 30px;
}
.userHelpIcon {
  width: 30px;
  height: 27px;
}
