.headerControls {
  --gap: 27px;
  display: flex;
  gap: var(--gap);
  align-items: center;

  @media (max-width: $tablet) {
    --gap: 20px;
  }

  @media (max-width: $mobile) {
    --gap: 8px;
  }

  .btn {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      left: calc(100% + var(--gap) / 2);
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: calc(100% - 5px);
      background-color: var(--color-background-primary);

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  .icon {
    color: var(--color-icon-secondary);
    width: 18px;
    height: 18px;
  }
}
