.helpBanner {
  padding: 100px 0 0;
  background-color: var(--color-background-primary-faint);
  color: var(--color-text-tertiary);
}

.helpBannerImg {
  height: 80%;
  aspect-ratio: 650/470;
  right: 0;
  bottom: 0;

  img {
    width: 100%;
    height: 100%;
  }
}
