.helpBanner {
  padding: 100px 0 0;
  background-color: var(--color-background-primary-faint);
  color: var(--color-text-tertiary);
  // .helpBannerContent {
  //   @media (max-width: $tablet) {
  //     max-width: unset;
  //   }
  // }
}

.helpBannerImg {
  img {
    width: 100%;
    height: 100%;
  }
}
