.errorState {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.errorCode {
  font-family: var(--font-onder);
  font-weight: 500;
  font-size: 104px;
  line-height: 1.3;
  text-transform: uppercase;
}

.errorBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.errorText {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.07px;
}
