.title {
  margin-bottom: 40px;

  @media (max-width: $tablet) {
    margin-bottom: 32px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 24px;
  }
}

.wrapper {
  padding: 40px 0;
  @media (max-width: $mobile) {
    padding: 0;
  }
}
