.ourValues {
  padding: 100px 0 0;
}

.ourValuesHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.ourValuesEyebrow {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.07px;
  text-align: center;
  color: var(--color-text-primary-faint);
}

.ourValuesTitle {
  font-family: var(--font-onder);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.ourValuesIconWrapper {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourValuesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.ourValuesItem {
  display: flex;
  flex-direction: column;
  min-height: 340px;
  justify-content: space-between;
  padding: 32px;
  border: 1px solid var(--color-border-secondary-muted);
}

.ourValuesItemTitle {
  font-family: var(--font-onder);
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.ourValuesDescription {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.07px;
  color: var(--color-text-primary-faint);
  min-height: 60px;
}
