.productPageLayout {
  background-color: var(--color-background-primary);
  .layoutWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;

    @media (max-width: $tablet) {
      padding: 20px 0;
      gap: 20px;
    }
  }

  .layoutPagination {
    align-self: center;
    padding: 32px 0 68px;
  }
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.actions {
  @media (max-width: $tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sortFilter {
    @media (max-width: $tablet) {
      width: auto;
      min-width: 167px;
    }

    @media (max-width: $sm) {
      width: auto;
      min-width: 145px;
    }
  }
  .filterTrigger {
    display: none;

    @media (max-width: $tablet) {
      display: flex;
    }
  }

  .sortInner.sortInner,
  .filterTrigger {
    min-width: 167px;
    @media (max-width: $sm) {
      min-width: auto;
      font-size: 12px;
      line-height: 16px;
      min-width: 145px;
    }
  }
}
.breadcrumbsBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.body {
  display: grid;
  grid-template-columns: 228px minmax(0, 1fr);
  gap: 32px;
  @media (max-width: $tablet) {
    display: block;
  }
}

.bodyWithoutFilters {
  grid-template-columns: 1fr;
}

.filters {
  min-width: 0;
  @media (max-width: $tablet) {
    display: none;
  }
}

.content {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
