.productDetailsCard {
  display: grid;
  grid-template-columns: minmax(0, 1.05fr) minmax(0, 1fr);
  gap: 32px;
}

.productDetailsCardFavorites {
  width: 23px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.productDetailsCardGallery {
  width: 100%;
  position: relative;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardHeaderTop {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardHeaderBottom {
  display: flex;
  justify-content: space-between;
}

.cardPrice {
  font-family: var(--font-unbounded);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: baseline;
  gap: 3px;

  > span {
    font-family: 'Inter';
    font-size: 15px;
    line-height: 40px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
  }
}

.cardButton {
  background-color: var(--color-background-accent);
}
