.productDetailsCard {
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  gap: 32px;
}

.productDetailsCardFavorites {
  width: 23px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.productDetailsCardGallery {
  width: 100%;
  position: relative;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardHeaderTop {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardHeaderBottom {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
}

.cardPrice {
  font-family: var(--font-onder);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: baseline;
  gap: 3px;

  > span {
    font-family: 'Inter';
    font-size: 15px;
    line-height: 40px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
  }
}

.cardButton {
  background-color: var(--color-background-accent);
}
