.productDetailsCard {
  display: grid;
  grid-template-columns: minmax(0, 1.05fr) minmax(0, 1fr);
  gap: 32px;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
}

.galleryDesktop {
  @media (max-width: $tablet) {
    display: none;
  }
}

.galleryTablet {
  display: none;
  @media (max-width: $tablet) {
    display: block;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.galleryMobile {
  display: none;

  @media (max-width: $mobile) {
    display: block;
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: $tablet) {
    gap: 32px;
  }
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardTitle {
  @media (max-width: 400px) {
    max-height: 64px;
    overflow: hidden;
  }
}

.cardHeaderTop {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardHeaderBottom {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    flex-direction: row-reverse;
  }
}

.cardPrice {
  font-family: var(--font-unbounded);
  font-weight: 500;
  text-transform: uppercase;
  display: inline-flex;
  align-items: baseline;
  gap: 3px;

  > span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
  }
}

.cardButton {
  background-color: var(--color-background-accent);
}
